:root{
    --cor-fundo: #D0BDDB;
    --cor-texto: #000000;
    --cor-click: yellow;
}

body{   
    background-color: #653780;
    text-align: center;
    font-family: 'Righteous', cursive;
}

header{
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* Inicio Navlist */
.navlist{
    display: flex; 
}

.navlist a{
    font-size: #FCB827;
    color: #FCB827;
    transition-delay: all ease 1s;
}

.navlist a:hover{
    color: var(--cor-click);
}

i{
    color: #FCB827;
    font-size: 100px;
    padding-top: 25px;
    padding-left: 75px;
}

li{
    color: #653780;
}

header a{
    overflow: clip;
}

/* Inicio IMG */
.lakers{
    margin: 3px;
    width: 1325px;
    padding: 1px;
}

.box img{
    transform: translateY(-5px) scale(1.1);
    transform: rotateX('10');
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
    transform: rotateX('10');
    transition: ease-in 0.5s;
}

.Fiel{
    padding-left: 175px;
}

.Instagram{
    padding-left: 340px;
    padding-top: 20px;
    
}

.Twitter{
    padding-left: 20px;
    padding-top: 20px;
}

.Facebook{
    padding-top: 20px;
}

.Youtube{
    padding-top: 20px;
}
/* Fim IMG */

.header-Logo{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
}

/* Fim Navlist */

/* Inicio loja */

/* Fim da loja */

/* Inicio da Pagini Inicial */
main{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    background-color: var(--cor-fundo);
    border-radius: 1%;
    border: #FCB827;
}



/* Inicio do slide */
.slider{
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 1000px;
}

.manual-navigation{
    position: absolute;
    width: 1000px;
    margin-top: -390px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FCB827;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #653780;
}

#radio1:checked ~.first{
    margin-left: 0;
}

#radio2:checked ~.first{
    margin-left: -25%;
}

.navigation-auto div{
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 1000px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #653780;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #653780;
}
/* Fim do Slide */

/* Inicio anuncio */
.anuncio{
    position: relative;
    left: 72px;
}
/* Fim anuncio */

/* Inicio Gallery */
.container{
    background-color: #000000;
    color: var(--cor-fundo);
}

.elenco{
    background-color: #000000;
    width: 1503px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Fim dO Gallery */

/* Fim da Pagini Inicial */


/* Detalhes finais da loja */
.btn-gradient {
    right: 145px;
    bottom: 40px;
    font-size: 1em;
    padding: 12px 25px;
    background: #FCB827;
    color: #000000;
    text-decoration: none;
    position: relative;
    z-index: 0;
    border-radius: 50px;
}
.btn-gradient::before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: linear-gradient(124deg, #FCB827, #dfe404, #4a3df1, #e549f5, #ae07bf );
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  animation: move 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50px;
}
.btn-gradient:hover::before {
    opacity: 1; 
}

@keyframes move {
    0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
}
/* Detalhes finais da loja */

.fim-da-pagina{
    text-align: start;
    position: relative;
    background-color: rgb(39, 39, 39);
    width: 100%;
    padding-top: 40px;
    padding-left: 5px;
    color: ivory;
}

.fim-da-pagina a{
    color: rgb(241, 158, 90);
    text-decoration: none;
}

.copyrigth{
    position: absolute;
    top: 50px;
    left: 1300px;
}

.copy{
    text-align: center;
}